body {
  background-color: white;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: #404fed;
  width: 100%;
}

ul {
  list-style-type: none;
}

.sidebar {
  background-color: #72a0c1;
  position: absolute;
  left: 0px;
  height: 100vh;
  text-align: center;
}
