body {
  background-color: white;
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: #404fed;
  width: 100%;
}

ul {
  list-style-type: none;
}

.sidebar {
  background-color: #72a0c1;
  position: absolute;
  left: 0px;
  height: 100vh;
  text-align: center;
}

.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icon {
  width: 20px;
  height: auto;
  margin-left: 0.5rem;
}
